@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');


:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;

}

/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
}

/* Nav */
header {
    position: relative;
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #244D61;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav End */

/* Section 1 */
.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}

.main h3 {
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.main h1 {
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.main p {
    line-height: 1.7;
    font-size: 1.15rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    border: 1.6px solid #000000;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}

.images img {
    position: relative;
    border-radius: 6px;
}

.images::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 55%;
    top: -16px;
    transform: translateX(-50%);
    border-radius: 6px;
}

.images::before {
    background: var(--primary-color);
}

.images {
    width: 60%;
    margin-left: auto;
    position: relative;
    z-index: -1;
}

.images {
    opacity: 0;
    animation: imageAni 1s ease forwards;
    animation-delay: 1.5s;
}
#about h1{
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}
#about p{
    line-height: 1.7;
    font-size: 1.15rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}
#skills {
    margin-top: 2rem;
    text-align: center;
}

#skills h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.skills-category {
    margin-bottom: 2rem;
}

#skills .skills-category h3 {
    font-size: 1.8rem;
    color: var(--primary-dark);
    margin-bottom: 1rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: topSideAni 1.2s ease forwards;
}

.skill {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-dark);
    /* background-color: var(--primary-color); */
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    animation: SocialAni 0.1s ease forwards;
    cursor: pointer;
}

.skill:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 20px var(--primary-color);
    transform: translateY(-4px);
}
#Portfolio {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

#Portfolio h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.project {
    display: flex;
    margin: auto;
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    animation: imageAni 1.2s ease forwards;
}

.project:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.project img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    object-fit: cover;
}

.project h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-dark);
    margin: 1rem 0 0.5rem;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 1rem;
}

.project a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-dark);
    /* background-color: var(--primary-color); */
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* transition: all 0.3s ease; */
    animation: SocialAni 0.1s ease forwards;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project a:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px var(--primary-dark);
}

.contact-section {
    text-align: center;
    padding: 2rem;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 600px;
}

.contact-section h2 {
    font-size: 2.5rem;
    color: var(--primary-dark);
    margin-bottom: 1rem;
}

.contact-section p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact-info {
    margin-bottom: 1.5rem;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

.cv-btn button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.cv-btn button:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 20px var(--primary-dark);
    transform: translateY(-4px);
}

.comments-section {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-comment {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-comment {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-comment:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 20px var(--primary-dark);
    transform: translateY(-2px);
}

.list-comment {
    margin-top: 1.5rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.comment-item {
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.remove {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 20px var(--primary-dark);
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    #Portfolio h3 {
        font-size: 2rem;
    }

    .project img {
        max-width: 100%;
    }

    .project {
        padding: 1rem;
    }

    .project h4 {
        font-size: 1.2rem;
    }

    .project p {
        font-size: 0.9rem;
    }
    
}



/* .project {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    transition: box-shadow 0.3s ease;
}

.project:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    border-radius: 8px;
} */
/* Section 1 End */

/* Dark Mode */

.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

:is(.dark-mode) {
    .social a {
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
    }

    .social a:hover {
        color: var(--primary-dark);
        background-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
    }

    .logo a {
        color: #fff;
    }
    #skills .skills-category h3{
        /* color: var(--primary-color); */
        color: #fff;
    }
    .skill{
        background-color: var(--primary-color);
        /* color: var(--primary-dark); */
        color: #fff;
    }
    .skill:hover{
        background-color: var(--primary-dark);
    }
    .project a{
        background-color: var(--primary-color);
        color: #fff;
    }
    .project a:hover{
        background-color: var(--primary-dark);
    }
    .project{
        background-color: #ddd;
    }
    .contact-section{
        background-color: #ddd;
    }
    .cv-btn button{
        background-color: var(--primary-color);
        color: #fff;
    }
    .cv-btn button:hover{
        background-color: var(--primary-dark);
    }
    .btn-comment{
        background-color: var(--primary-color);
        color: #fff;
    }
    .btn-comment:hover{
        transition: all 0.3s ease;
    }
    .comment-item {
        background-color: #ddd;
        color: black;
    }
    .input-comment{
        background-color: #ddd;
    }
    .remove{
        background-color: var(--primary-color);
        color: #fff;
    }
    .remove:hover{
        background-color: var(--primary-dark);
    }
 }

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

/*about me part */
/* #about span{
    background-color: var(--primary-color);
} */



/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @keyframes ImgAni {
0% {
transform: translateX(0);
}
50% {
transform: translateX(-9px);
}
100% {
transform: translateX(0);
}
} */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {

    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}